<div class="container">
    <div class="card-title">
        <i class="fa fa-arrow-left" style="font-size:20px;cursor: pointer;color: white;"
            routerLink="/allCases/list"></i>&nbsp;&nbsp;
        <h2 style="padding:0px !important ;margin:0px !important;font-weight: 600;color:white;font-size: 18px;
      margin: 10px 0px 10px 0px !important;">Add
            {{'Cases'}}</h2>
    </div>
    <div class="card">
        <h4 style="padding:0px !important ;margin:0px !important;font-weight: 600;color: #f24c44;">{{'Case Detail'}}
        </h4>
        <hr class="new4">
        <form [formGroup]="form">
            <div class="row">
                <div class="section-b col">
                    <input placeholder="Title" class="input" type="text" name="Search" matInput formControlName="name"
                        maxlength="50" required>
                    <mat-hint class="hintalign">{{form.get('name').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('name')?.errors?.required">{{'Name is
                        required'}}</mat-error>
                </div>
            </div>
            <div class="row">
                <div class="section-b col">
                    <input placeholder="URL of the Video" class="input" type="text" name="Search" matInput
                        formControlName="name" maxlength="50" required>
                    <mat-hint class="hintalign">{{form.get('name').value?.length || 0}}/50
                    </mat-hint>
                    <mat-error *ngIf="submitted && form.get('name')?.errors?.required">{{'Name is
                        required'}}</mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">

                    <div class="row">
                        <div class="section-b col">
                            <!-- <mat-label>Your Content <span class="required">*</span></mat-label> -->
                            <textarea class="input" matInput rows="5" cols="4" formControlName="description"
                                placeholder="Description" maxlength="250"></textarea>
                            <mat-hint class="hintalign">{{form.get('description').value?.length || 0}}/250
                            </mat-hint>
                            <mat-error *ngIf="submitted && form.get('description')?.errors?.required">{{'Description is
                                required'}}
                            </mat-error>
                        </div>

                    </div>
                </div>
                <div class="col-md-2" style="display: flex;justify-content: center;">
                    <div>
                        <div id="images">
                            <div id="main-img-holder">
                                <img id="main-img" [src]="mainImageSrc" alt="main-img"
                                    style="width:'310px';height:125px;border-radius: 10px;" />
                                <div class="upload-icon-container" *ngIf="images?.length < 4">
                                    <label for="image-upload-input" class="upload-icon-label">
                                        <span class="cursor-pointer"><i style="color: white;"
                                                class="fa fa-upload fa-2x"></i>
                                            <p style="color: white;margin: 10px;">Upload Thumbnail</p>
                                        </span>
                                        <input type="file" accept="image/*" (change)="onFileChange($event)"
                                            #imageUploadInput id="image-upload-input" style="display:none">
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-b col-4">
                    <mat-select style="margin: 0  !important;" placeholder="Category" formControlName="operator"
                        multiple>
                        <mat-option *ngFor="let row of city" [value]="row">{{row}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && form.get('operator')?.errors?.required">{{'Operator is
                        required'}}</mat-error>
                </div>
                <div class="section-b col-4">
                    <mat-select style="margin: 0  !important;" placeholder="Sub Category" formControlName="operator"
                        multiple>
                        <mat-option *ngFor="let row of city" [value]="row">{{row}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && form.get('operator')?.errors?.required">{{'Operator is
                        required'}}</mat-error>
                </div>
                <div class="section-b col-4">
                    <input  style="margin: 0  !important;" placeholder="PPT File" class="input" type="text" name="Search" matInput
                        formControlName="name" maxlength="50" required> 
                    <mat-error *ngIf="submitted && form.get('name')?.errors?.required">{{'Name is
                        required'}}</mat-error>
                </div>
            </div>
            <h4 style="padding:0px !important ;margin:25px 0px 0px 0px !important;font-weight: 600;color: #f24c44;">{{'Institute
                Detail'}}</h4>
            <hr class="new4">
            <div class="row">
                <div class="section-b col-6">
                    <mat-select style="margin: 0  !important;" placeholder="Name" formControlName="operator"
                        multiple>
                        <mat-option *ngFor="let row of city" [value]="row">{{row}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && form.get('operator')?.errors?.required">{{'Operator is
                        required'}}</mat-error>
                </div>
                <div class="col-6"></div>
            </div>

            <h4 style="padding:0px !important ;margin:25px 0px 0px 0px!important;font-weight: 600;color: #f24c44;">{{'Update
                Detail'}}</h4>
            <hr class="new4">
            <div class="row">
                <div class="section-b col-4">
                    <mat-select style="margin: 0  !important;" placeholder="Week No" formControlName="operator"
                        multiple>
                        <mat-option *ngFor="let row of city" [value]="row">{{row}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && form.get('operator')?.errors?.required">{{'Operator is
                        required'}}</mat-error>
                </div>
                <div class="section-b col-4">
                    <mat-select style="margin: 0  !important;" placeholder="Month" formControlName="operator"
                        multiple>
                        <mat-option *ngFor="let row of city" [value]="row">{{row}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && form.get('operator')?.errors?.required">{{'Operator is
                        required'}}</mat-error>
                </div>
                <div class="section-b col-4">
                    <mat-select style="margin: 0  !important;" placeholder="Case of the Week" formControlName="operator"
                        multiple>
                        <mat-option *ngFor="let row of city" [value]="row">{{row}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && form.get('operator')?.errors?.required">{{'Operator is
                        required'}}</mat-error>
                </div>
            </div>
            <div class="disflex mt-5" *ngIf="!view">
                <button mat-flat-button color="warn" (click)="discard()">{{'Discard' | uppercase}}</button>
                <button mat-flat-button color="primary" type="submit" (click)="save()" *ngIf="!edit"
                    [disabled]="isSave">{{'Save' | uppercase}}</button>
                <button mat-flat-button color="primary" type="submit" (click)="saveCoupons()" *ngIf="edit">{{'Update' |
                    uppercase}}</button>
            </div>
        </form>
    </div>
</div>